@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-family: 'inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root CSS  */

.display-alighn-center {
    display: flex;
    align-items: center;
}


body {
    background-color: #171717;
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.left-container {
    height: 800px;
    width: 450px;

}

.middle-container {
    height: 835px;
    width: 470px;
    background-color: #616161;
}

.right-container {
    height: 800px;
    width: 450px;
    border: 1px solid wheat;
}


.container {}

/* Left side Started */

/* Type box container CSS */
.type-box-container {
    margin: 0px 0px 20px 0px;
}

.type-box-header {
    height: 40px;
    width: 100%;
    background-color: #292929;
    border-radius: 10px 10px 0px 0px;
}

.type-box-header p {
    color: white;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
    height: max-content;
    width: max-content;
}

.type-box-header-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 100%;
    width: max-content;
    background-color: #1e1e1e;
    border-radius: 10px 10px 0px 0px;
    padding: 0px 15px 0px 0px;
}

.type-box {
    width: 100%;
}

.type-box textarea {
    width: 100% !important;
    height: 320px !important;
    background-color: #1e1e1e;
    border: none;
    color: white;
    padding: 20px 16px 16px 16px;
    resize: none;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    border-radius: 0px 0px 10px 10px;
}

.type-box textarea:focus {
    outline: none;
}

.type-box textarea::placeholder {
    color: rgba(255, 255, 255, 0.281);
    font-size: 14px;
    font-weight: 300;
}

.type-box textarea::-webkit-scrollbar {
    width: 13px;
    background-color: #29292957;
}

.type-box textarea::-webkit-scrollbar-thumb {
    background-color: #171717c5;
    cursor: pointer;

}

.type-box textarea::-webkit-scrollbar-thumb:hover {
    background-color: #171717;
}

.type-box-icon {
    color: white;
    margin-left: 15px;
}

/* type box container End here */

/* Buttons box container CSS */
.buttons-box-container {}

.typing-speed-button {
    background-color: #292929;
    border-radius: 10px;
    width: max-content;
    height: max-content;
    padding: 6px 10px 6px 5px;
}

.typing-speed-button button {
    border: none;
    font-size: 16px;
    font-family: var(--font-family);
    font-weight: 400;
    background-color: transparent;
    margin: 0px 8px;
    color: rgba(255, 255, 255, 0.815);
   
}

.typing-speed-button input {
    height: 35px;
    width: 65px;
    border: none;
    font-size: 16px;
    font-family: var(--font-family);
    font-weight: 400;
    background-color: #171717;
    margin: 0px 8px;
    color: white;
    text-align: center;
    border: 0.5px solid white;
    border-radius: 10px;
}

.typing-speed-button input:focus {
    outline: none;
    background-color: #000000;
}

.typing-speed-button input::-webkit-outer-spin-button,
.typing-speed-button input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Buttons box container End here */

/* Middle box container CSS */

.middle-box-container {
    width: 100%;
    height: 100%;
    padding: 15px;
}

/* authorbar section started here  */

.authorbar-section {
    background-color: #292929;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 46px;
    width: 100%;
    justify-content: space-around;
}

.reload-icon {
    margin-left: 10px;
}

.reload-icon img {
    width: auto;
    height: 31px;
}

.authorbar {
    display: flex;
    flex-direction: row;
    background-color: #0c0c0c;
    height: 35px;
    width: 270px;
    padding: 0px 10px 0px 10px;
    border-radius: 20px;
    justify-content: space-between;
}

.world-icon {}

.world-icon img {
    width: auto;
    height: 23px;
}

.author-text {}

.author-text p {
    color: white;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 300;
    height: max-content;
    width: max-content;
}

.star-icon img {
    width: auto;
    height: 21px;
}

.star-icon {}

.three-dot-icon {}

.three-dot-icon img {
    width: auto;
    height: 22px;
}

.youtube-icon {}

.youtube-icon img {
    width: auto;
    height: 35px;
}

/* Output box started here */

.output-section {}

.output-box {
    height: 240px;
    width: 100%;
    background-color: #292929;
    display: flex;
    justify-content: center;
}

.output-inner-box {
    border-radius: 10px;
    height: 98%;
    width: 98%;
    background-color: #171717;
}

.caption {

}