@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-family: 'inter', sans-serif;
    --output-background-color: #ffff;
    --caption-color: #000000;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root CSS  */

.display-alighn-center {
    display: flex;
    align-items: center;
}


body {
    background-color: #171717;
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.left-container {
    height: 800px;
    width: 450px;

}

.middle-container {
    height: 835px;
    width: 470px;
    background-color: #292929;
    flex-shrink: 0;
}

.right-container {
    height: 800px;
    width: 450px;
}


.container {}

/* Left side Started */

/* Type box container CSS */
.type-box-container {
    margin: 0px 0px 20px 0px;
}

.type-box-header {
    height: 40px;
    width: 100%;
    background-color: #292929;
    border-radius: 10px 10px 0px 0px;
}

.type-box-header p {
    color: white;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
    height: max-content;
    width: max-content;
}

.type-box-header-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 100%;
    width: max-content;
    background-color: #1e1e1e;
    border-radius: 10px 10px 0px 0px;
    padding: 0px 15px 0px 0px;
}

.type-box {
    width: 100%;
}

.type-box textarea {
    width: 100% !important;
    height: 320px !important;
    background-color: #1e1e1e;
    border: none;
    color: white;
    padding: 20px 16px 16px 16px;
    resize: none;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    border-radius: 0px 0px 10px 10px;
}

.type-box textarea:focus {
    outline: none;
}

.type-box textarea::placeholder {
    color: rgba(255, 255, 255, 0.281);
    font-size: 14px;
    font-weight: 300;
}

textarea::-webkit-scrollbar {
    width: 13px;
    background-color: #29292957;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #171717c5;
    cursor: pointer;

}

.type-box textarea::-webkit-scrollbar-thumb:hover {
    background-color: #171717;
}

.type-box-icon {
    color: white;
    margin-left: 15px;
}

.logger-showing-container {
    margin: 0px 0px 20px 0px;
}

.logger-showing-box-header {
    height: 40px;
    width: 100%;
    background-color: #292929;
    border-radius: 10px 10px 0px 0px;
}

.logger-showing-box-header-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 100%;
    width: max-content;
    background-color: #1e1e1e;
    border-radius: 10px 10px 0px 0px;
    padding: 0px 15px 0px 0px;
}

.logger-showing-box-header-container p {
    color: white;
    font-family: var(--font-family);
    margin-left: 15px;
}

.logger-showing-box {
    width: 100%;
}

.logger-showing-box textarea {
    width: 100% !important;
    height: 235px !important;
    background-color: #1e1e1e;
    border: none;
    color: rgba(0, 255, 0, 0.473);
    padding: 20px 16px 16px 16px;
    resize: none;
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 300;
    border-radius: 0px 0px 10px 10px;
}

.logger-showing-box textarea:focus {
    outline: none;
}

.logger-showing-box textarea::placeholder {
    color: rgba(255, 255, 255, 0.281);
    font-size: 14px;
    font-weight: 300;
}

/* type box container End here */

/* Buttons box container CSS */
.typing-speed-button {
    background-color: #292929;
    border-radius: 10px;
    width: max-content;
    height: max-content;
    padding: 6px 10px 6px 5px;
    margin: 0px 0px 20px 0px;

}

.typing-speed-button span {
    border: none;
    font-size: 16px;
    font-family: var(--font-family);
    font-weight: 400;
    background-color: transparent;
    margin: 0px 8px;
    color: rgba(255, 255, 255, 0.815);

}

.typing-speed-button input {
    height: 35px;
    width: 65px;
    border: none;
    font-size: 16px;
    font-family: var(--font-family);
    font-weight: 400;
    background-color: #171717;
    margin: 0px 8px;
    color: white;
    text-align: center;
    border: 0.5px solid white;
    border-radius: 10px;
}

.typing-speed-button input:focus {
    outline: none;
    background-color: #000000;
}

.typing-speed-button input::-webkit-outer-spin-button,
.typing-speed-button input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.start-typing-button {
    height: max-content;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

.start-typing-button button {
    padding: 12px 16px;
    border-radius: 5px;
    font-size: 16px;
    font-family: var(--font-family);
    font-weight: 400;
    background-color: #292929;
    color: rgba(255, 255, 255, 0.815);
    cursor: pointer;
    border: none;
}

.start-typing-button button:hover {
    background-color: #292929c4;
}



/* Buttons box container End here */

/* Middle box container CSS */

.middle-box-container {
    width: 100%;
    height: 100%;
    padding: 15px;
}

/* authorbar section started here  */

.authorbar-section {
    background-color: #292929 !important;
    background-color: #9f9f9f;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 44px;
    width: 100%;
    justify-content: space-around;
}

.reload-icon {
    margin-left: 10px;
}

.reload-icon img {
    width: auto;
    height: 26px;
}

.authorbar {
    display: flex;
    flex-direction: row;
    background-color: #0c0c0c;
    height: 35px;
    width: 270px;
    padding: 0px 10px 0px 10px;
    border-radius: 20px;
    justify-content: space-between;
}

.world-icon {}

.world-icon img {
    width: auto;
    height: 20px;
}

.author-text {}

.author-text p {
    color: white;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 300;
    height: max-content;
    width: max-content;
}

.star-icon img {
    width: auto;
    height: 18px;
}

.star-icon {}

.three-dot-icon {}

.three-dot-icon img {
    width: auto;
    height: 20px;
}

.youtube-icon {}

.youtube-icon img {
    width: auto;
    height: 30px;
}

/* Output box started here */

.output-section {}

.output-box {
    height: 240px;
    width: 100%;
    background-color: #292929;
    display: flex;
    justify-content: center;
}

.output-inner-box {
    border-radius: 10px;
    height: 98%;
    width: 98%;
    background-color: var(--output-background-color);
    position: relative;
}

.caption {
    color: var(--caption-color);
    font-size: 16px;
    margin: 15px 0px 0px 0px;
    text-align: center;
    font-family: var(--font-family);
    position: absolute;
    width: 100%;
}

#output {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

.language-tab-select-section {
    width: 100%;
    height: 30px;
    background-color: #292929;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
}

.html-language-tab {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: max-content;
    background-color: #181818;
    margin-left: 5px;
    padding: 0px 15px;
    cursor: pointer;
    padding-bottom: 3px;
}

.html-language-tab img {
    width: auto;
    height: 16px;

}

.html-language-tab button {
    height: 100%;
    background-color: transparent;
    border: none;
    color: white;
    margin: 0px 5px;
    cursor: pointer;
    font-family: var(--font-family);
    font-size: 13px;
    font-weight: 300;
}

.css-language-tab {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: max-content;
    background-color: #181818;
    margin-left: 5px;
    padding: 0px 15px;
    cursor: pointer;
    padding-bottom: 3px;

}

.css-language-tab img {
    width: auto;
    height: 16px;

}

.css-language-tab button {
    height: 100%;
    background-color: transparent;
    border: none;
    color: white;
    margin: 0px 5px;
    cursor: pointer;
    font-family: var(--font-family);
    font-size: 13px;
    font-weight: 300;
}

.javascript-language-tab {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: max-content;
    background-color: #181818;
    margin-left: 5px;
    padding: 0px 15px;
    cursor: pointer;
    padding-bottom: 3px;

}

.javascript-language-tab img {
    width: auto;
    height: 16px;

}

.javascript-language-tab button {
    height: 100%;
    background-color: transparent;
    border: none;
    color: white;
    margin: 0px 5px;
    cursor: pointer;
    font-family: var(--font-family);
    font-size: 13px;
    font-weight: 300;

}

.selected-tab {
    border-radius: 10px 10px 0px 0px;
}

/* Code editor box CSS start here  */

#editor {
    width: 101.5%;
    height:485px;
    border-radius: 0px 10px 10px 10px;
}

.code-editor-section {
    margin: 0px 5px 0px 0px;
}

/* Right container started here */

.right-box-container {}

.caption-box {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
}

.caption-box input {
    height: 40px;
    font-size: 16px;
    font-family: var(--font-family);
    font-weight: 500;
    background-color: #1e1e1e;
    color: white;
    text-align: start;
    border-radius: 10px;
    width: 100%;
    padding: 0px 10px;
    border: 0.5px solid rgba(255, 255, 255, 0.356);
    margin: 0px 0px 15px;
}

.caption-box input:focus {
    outline: none;
}

.caption-box button {
    padding: 10px 16px;
    border-radius: 5px;
    font-size: 16px;
    font-family: var(--font-family);
    font-weight: 400;
    background-color: #292929;
    color: rgba(255, 255, 255, 0.815);
    cursor: pointer;
    border: none;
    width: 165px;
}

.caption-box button:hover {
    background-color: #292929c4;
}

/* Code editor CSS  */

.ace_tag-open,
.ace_tag-close,
.ace_end-tag-open,
.ace_keyword,
.ace_operator,
.ace_attribute-equals {
    color: #ff4921 !important;
}

.ace_tag-name,
.ace_keyword {
    color: #f1a791 !important;
}

.ace_entity,
.ace_other,
.ace_attribute-name {
    color: #e8da03 !important;
}

.ace_string,
.ace_attribute-value {
    color: #5addb7 !important;
    ;
}

.ace_constant {
    color: #3eb7ee !important;
}

.ace_variable {
    color: #ff6431 !important;
}

/* Editor Css end here  */

.recording-time {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 15px;
    background-color: #292929;
    border-radius: 10px;
    padding: 10px 15px;
    width: 100%;
    height: 40px;
}

.recording-time p {
    font-size: 16px;
    font-family: var(--font-family);
    font-weight: 500;
    color: rgba(255, 255, 255, 0.815);
}

.recording-time img {
    width: auto;
    height: 36px;
}

.recording-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 40px;
}

.recording-buttons button {
    background-color: #292929;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-family: var(--font-family);
    font-weight: 400;
    color: rgba(255, 255, 255, 0.815);
    cursor: pointer;
    margin-top: 15px;

}

.recording-buttons button:hover {
    background-color: #292929c4;
}